{%- style -%}
    {{ section.id | prepend: '#shopify-section-' }} {
    --section-background: {{ section.settings.background | default: '#ffffff' }};
    }
{%- endstyle -%}

<script src="{{ 'alternate-main-product.js' | asset_url }}" type="module"></script>

<div
        data-section-id="{{- section.id -}}"
        data-section-type="alternate-main-product"
        data-limit=" {{- section.settings.limit -}}"
        style="background-color: var(--section-background)"
>

    <h2>{{ product.title }}</h2>

    {% form 'product', product, id: 'product-form' %}
        <select name="id" id="">
            {%- for variant in product.variants -%}
                <option
                        value="{{ variant.id }}"
                        {%- if product.selected_or_first_available_variant.id == variant.id -%}selected{%- endif -%}
                >
                    {{ variant.title }}
                </option>
            {%- endfor -%}
        </select>

        <input type="number" name="quantity" min="1" value="1">
        <input type="hidden" name="sections" value="alternate-header,alternate-main-product">
        <input type="hidden" name="sections_url" value="{{ routes.root_url }}">
        <button type="submit">Add to Cart</button>
    {% endform %}


    <script>
        const form = document.getElementById('product-form');
        form.addEventListener('submit', event => {
            event.preventDefault()
            fetch(event.target.action + '.js', {
                method: event.target.method,
                body: new FormData(event.target),
                headers: {
                    'X-Requested-With': 'XMLHttpRequest'
                }
            }).then(response => response.json())
                .then(response => {
                    console.log(response)
                    const event = new CustomEvent('cart:added', {
                        detail: {
                            header: response.sections['alternate-header']
                        },
                        bubbles: true
                    })

                    form.dispatchEvent(event)

                })
                .catch(console.error)
        })
    </script>

    {%- if section.blocks.size > 0 -%}
        <ul>
            {%- for block in section.blocks -%}
                <li id="{{ block.id }}" {{- block.shopify_attributes -}}>
                    {{ block.settings.test }}
                </li>
            {%- endfor -%}
        </ul>
    {%- endif -%}

    <custom-element>
        <h3>Custom Element</h3>
    </custom-element>

</div>
{% schema %}
{
  "name": "Alternate Product",
  "settings": [
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "range",
      "id": "limit",
      "label": "Limit",
      "step": 1,
      "min": 1,
      "max": 100,
      "default": 10
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "text",
          "id": "test",
          "label": "Test"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Alternate Product",
      "settings": {}
    }
  ]
}
{% endschema %}
